
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body {
    display: flex;
    align-content: center;
    justify-content: center;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.black-text {
    color: #000;
}
.black-text:hover {
    color: red;
}
.logo img {
    width: 100%;
    max-width: 400px;
}
.form-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
footer {
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .logo img {
        max-width: 300px;
        margin-bottom: 25px;
    }
    .form-container {
        margin-bottom: 10px;
    }
}